a.refresh {
    text-transform: uppercase;
    text-decoration: navajowhite;
    color: #ffffff;
    letter-spacing: 1px;
    font-size: 15px;
    transition: color 0.5s;

}
a.refresh:hover {
    text-decoration: none;
    color: #05112e;
    transition: color 0.5s;
}
.uk-iconnav a {
    text-transform: uppercase;
    text-decoration: navajowhite;
    color: #ffffff;
    letter-spacing: 1px;
    font-size: 15px;
    transition: color 0.5s;

}

.tm-sidebar-right {
    left: calc(100% + 60px);
    position: absolute;
    top: 0;
    width: 200px;
}


.uk-iconnav a:hover {
    text-decoration: none;
    color: #478bf7;
    transition: color 0.5s;
}
.contain-main {
    margin-top: 200px;
    min-height: 70vh;
}
.tm-navbar-container {
    padding: 40px 0;
}
.tm-navbar-container:not(.uk-navbar-transparent) {
    background: linear-gradient(to left, #478bf7, #05112e);
}

.svg-container-before {
    height: 40px;
    background: linear-gradient(to left, #478bf7, #05112e);
}
