/* Grid start */
.grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.width-1-2 {
    width: 50%;
}

.width-1-3 {
    width: calc(100% * 1 / 3.001);
}

.width-2-3 {
    width: calc(100% * 1 / 3.001 * 2);
}

.width-1-4 {
    width: 25%;
}

/* Grid end */


/* Struktur start */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i,700,700i,800&display=swap');


.container {
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 10px;
}

.border-bottom-1px {
    border-bottom: solid 1px black;
}

body {
    margin: 0;
    font-family: 'Open Sans';

}


header {
    background-color: #4D5E75;
    color: white;
    padding: 40px 0;
}

nav {
    background-color: #344056;
}

a {
    color: #344056;
}

ul {
    list-style: none;
    margin: 0;
    padding: 20px 0;
}

ul li {
    display: inline-block;
    margin-right: 20px;
}

ul li img {
    vertical-align: middle;
    margin-right: 8px;
}

ul li a {
    color: white;
    text-decoration: none;
}

footer {
    margin-top: 40px;
    background-color: black;
}

footer ul {
    font-size: 12px;
}

/* Struktur end */

/* Inhalt start */

.subtitle {
    font-size: 14px;
    line-height: 14px;
}
.kontakt-info {
    padding-right: 40px;
}
.kontakt-info a {
    color: black;
    margin-left: 10px;
}
.kontakt-info ul li {
    line-height: 30px;
    display: list-item;
}

.logo {
    letter-spacing: 1px;
    font-size: 35px;
    line-height: 40px;
    color: white;
    font-weight: bold;
}

.photo img {
    max-width: 80vw;
}

#uebermich {
    background-color: rgba(77, 94, 117, 0.08);
    padding: 40px 0;
    margin: 40px 0;
}


.uebermich-list ul li {
    display: list-item;
    line-height: 30px;
    font-size: 18px;
}

/* Inhalt end */

/* maximal  bis 768px (auflösung) grid */
@media screen and (max-width: 768px) {
    .width-1-2 {
        width: 100%
    }

    .width-1-3 {
        width: 100%
    }

    .width-2-3 {
        width: 100%
    }

    .width-1-4 {
        width: 100%
    }
}