@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&display=swap');


.bg-menu {
    background-color: #ffffff;
}

body {
    background: white;
}

.bg-white {
    background: #ffffff;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.uk-logo {
    padding: 20px 0;
}

.uk-logo img {
    width: 130px;
}

.uk-navbar-nav > li > a {
    color: #000000;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 1px;
}
h2.uk-modal-title {
    color: black;
}
.btn-footer {
    border: none;
    color: white;
}
h2.black {
    color: #000000;
}
#block5 .uk-accordion-title {
    color: white;
}
#block5 .uk-accordion-title:before {
   display: none;
}
p.getreide {
    color: #ffffff;
    font-size: 16px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
.uk-button-default:focus, .uk-button-default:hover {
    color: white;
    border-color: white;
}
h2.white {
    color: white;
    margin-bottom: 0;
}
small {
    background: rgba(223, 206, 172, 0.59);
    padding: 1px 9px;
    margin-left: 5px;
    color: white;
}
h5.form-h5 {
    margin-top: 0;
    color: #ffffff;
    font-size: 20px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.uk-accordion-title {
    display: inline-block;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 26px;
}

.bg-rezept-text {
    background-color: rgba(223, 206, 172, 0.59);
    padding: 20px;
    height: 100%;
}

.uk-slider-container {
    padding-top: 40px;
}

.uk-position-center-left {
    left: auto;
    right: 40px;
}

[class*=uk-position-center-left], [class*=uk-position-center-right] {
    top: 15px;
}

.uk-checkbox:checked, .uk-checkbox:indeterminate, .uk-radio:checked {
    background-color: rgba(223, 206, 172, 0.59);
}
.uk-checkbox:focus, .uk-radio:focus {
    border-color:  rgba(223, 206, 172, 0.59);
}
li.uk-open .uk-accordion-title:first-of-type {
    display: none;
}

li .uk-accordion-title:last-of-type {
    display: none;
}

li.uk-open .uk-accordion-title:last-of-type {
    display: inline-block;
}

h1.text-slide {
    font-family: 'Dancing Script', cursive;
    font-size: 10vw;
}

.bg-rezept {
    position: relative;
    width: 500px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-anm {
    color: #ffffff;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 37px;
    margin-right: 10px;
}

.btn-anm:hover {
    color: #d5d5d5;
}

.bg-form {
    background: #201C1D;
    color: #ffffff;
}
footer {
    background-color: #d5d5d5;
}
.uk-form-label {
    color: #ffffff;
}

.uk-input, .uk-select, .uk-textarea {
    background: rgba(255, 255, 255, 0.27);
    color: #ffffff;
    border: none;
}

section {
    padding: 40px 0;
    margin: 40px 0;
}

section.first {
    margin-top: 80px;
}

.event-list {
    color: #000000;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 1px;
    list-style: none;
}

#block1 {
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
}

#block2 h2 {
    color: #000000;
}

h2 {
    color: #ffffff;
    font-family: 'Indie Flower', cursive;
    font-size: 40px;
}