@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');


body {
    background-color: #000000;
    min-height: 100vh;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto', sans-serif;
    color: #D40000;
    font-weight: 500;
}
div,p,ul,li,a {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}


.bg-sect-1 {
    background-image: url("../img/cv-1-2.png");
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
}
.uk-grid>*>h6:last-child {
    margin-bottom: 40px;
}
.warn {
    margin-top: -5px;
}
.btn-pass {
    background-color: #D40000;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    border: solid 1px #D40000;
    transition: all .2s;


}
.btn-pass:hover {
     background-color: #D40000;
     color: #FFFFFF;
    transition: all .2s;
     font-family: 'Roboto', sans-serif;
     font-weight: bold;
     border: solid 1px #D40000;
 }
.btn-cont {
    display: inline-block;
    border: solid 1px #D40000;
    transition: all .2s;
    padding: 3px;
}
.btn-cont:hover {
   border-color: #FFFFFF;
    transition: all .2s;
}
.uk-button-default {
    background-color: #000000;
    border: solid 1px #D40000;
    color: #D40000;
}
.btn-pass-test:focus {
    background-color: #000000;
    border: solid 1px #D40000;
    color: #D40000;
}
.btn-pass-test:hover {
    background-color: #D40000;
    border: solid 1px #D40000;
    color: #000000;
}


