.uk-modal-full {
    background: black;
}


/* Style the form */
#regForm {
    padding: 40px;
}

/* Style the input fields */
input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
    background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
    display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
    margin: 0 2px;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
    color: white;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}

/* Mark the active step: */
.step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    color: red;
    opacity: 1;
}

label {
    display: block;
    margin-bottom: 30px;
}

.steps {
    font-family: 'FE Blud';
    margin: 40px 0;
}

.uk-checkbox:checked, .uk-checkbox:indeterminate, .uk-radio:checked {
    background-color: red;
    border-color: transparent;
}

.uk-checkbox:checked:focus, .uk-checkbox:indeterminate:focus, .uk-radio:checked:focus {
    background-color: red;
}

h6 {
    text-align: center;
    text-transform: uppercase;
}

.img {
    border-radius: 20px;
    border: solid 3px #D40000;
    max-width: 100%;
}

.uk-modal-header {
    padding: 15px 30px;
    background: transparent;
    border: none;
}

.ask {
    color: #FFFFFF;
    font-family: 'FE Blud';
    font-size: 1.5rem;
}

.perp {
    color: #FFFFFF;
    font-family: 'FE Blud';
    font-size: 60px;
}

.center {
    text-align: center;
}

.flex-center {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.img {
    margin-top: 20px;
}
.img.result {
    border: none;
}
.uk-modal-dialog {
    background: none;
    background-image: url("../img/vir.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 500px;

}
.uk-margin p {
    margin-bottom: 80px;
}
.result-end {
    width: 100%;
    background: #D40000;
    color: black;
    margin-top: 20px;
    text-transform: uppercase;
}
.result-end:hover {
    width: 100%;
    background: rgba(212, 0, 0, 0.89);
    color: black;
    margin-top: 20px;
    border-color: #FFFFFF;
}
.inputemail {
    background: #000000;
    border: solid 1px #D40000;
}
.marg-50 {
    margin-top: -50%;
}
@media screen and (max-width: 768px) {
.center {
    display: none;
}
}
@media screen and (max-width: 960px) {
    .uk-grid > * > .img:last-child {
        margin-bottom: 40px;
    }
    .marg-50 {
        margin-top: 0;
    }
}